.MainHeaderBlock {
    width: 100%;
    min-height: 430px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 84px;


    font-family: 'Inter';
    font-style: normal;

    .MainHeader {
        width: 100%;
        max-width: 1283px;
        
        height: 100%;
        min-height: 430px;
        box-sizing: border-box;
        
        padding-left: 80px;
        padding-right: 63px;
   

        background:
            url(../../../../public/images/404/city-map.png),
            url(../../../../public/images/404/background.png);
        // background-size: auto,  cover;
 
        margin: 0 auto;
        border-radius: 0px 0px 40px 40px;

        .MainHeaderText {
            padding: 0;
            padding-top: 83px;
            margin: 0;
            margin-bottom: 50px;
            text-align: center;

 
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            text-align: center;

            color: #FFFFFF;

            text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);

            .yellow {
                color: #FFD54F
            }

        }

        .MainForm {
            width: 1062px;
            min-height: (54px + 100px);
            display: block;
            margin: 0 auto;
            position: relative;

            .MainFormCategories {
                display: flex;
                height: 54px;
                border-radius: 10px 10px 0px 0px;
                cursor: pointer;
                height: 43px;
                position: relative;
                z-index: 0;

                     flex-wrap: wrap;
                    justify-content: start;
                
                
                    width: auto;
                
                    @media (max-width: 1065px) {
                        width: 750px;
 
                     }
                
                    @media (max-width: 650px) {
                        width: 400px;
 
                    }
 
                li {
                    display: block;
                    padding: 13px 20px;
                    gap: 10px;

                    width: 187px;
                    height: 54px;

                    background: rgba(45, 57, 136, 0.5);
 
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */


                    color: #FFFFFF;

                    label+input[type="radio"] {
                        display: none;
                    }
 
                @media (max-width: 1065px) {
                    display: none;                
                    }

                    &:first-child {
                        width: (174px);
                        border-radius: 10px 0px 0px 0px;
                    }

                    &:nth-child(2) {
                        width: (187px);
                    }

                    &:nth-child(3) {
                        width: (133px);
                    }

                    &:nth-child(4) {
                        width: (143px);
                        border-radius: 0px 10px 0px 0px;
                    }

                    &.active {   

                        background: #FFFFFF;
                        border-radius: 10px 10px 0px 0px;

             
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                 
                        color: #664EF9;

                        @media (max-width: 1065px) {
                                display: block;
                            }
                    }
                }
            }

            .MainFormSettings {
                background-color: white;
                min-height: 68px;
                height: auto;
                position: relative;
                z-index: 1;
                border-radius: 0 10px 10px 10px;

                display: flex;
                flex-wrap: wrap;
                justify-content: start; 
 

                width: auto;

                &.Active{
                    border-radius: 0 10px 0  0;
                }
                
                    @media (max-width: 1065px) {
                        width: 750px;
                    }
                
                    @media (max-width: 650px) {
                        width: 400px;
                    }
 

                .CityBlock,
                .RoomsBlock,
                .PriceBlock,
                .MoreOptionsBlock,
                .ToMapBlock,
                .ToShowBlock {
                    height: 68px;
                    margin: 16px 0;
                    padding-right: 16px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    display: block;
 

                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;

                    color: #BDBDBD;


                    label, legend {
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
                        // min-width: 150px;

                    }

                    &.CityBlock,  &.RoomsBlock,&.PriceBlock {
                        width: 190px;
                        border-right: 1px solid rgb(102, 78, 249, 0.1);
                    }

           
                    &.PriceBlock {
                        width: 215px;
 
                        .PriceBlockLabel {

                            flex-direction: column;
                             min-width: 150px;

                            span {
                               
                            }

                            .InputsBlock {
                                margin: 0;
                                padding: 0;
                                height: 38px;
                                display: flex;
                                justify-content: space-between;
                                 width: 175px;

                            }
                        }




                    }


                    &.MoreOptionsBlock,
                    &.ToMapBlock {
                        padding: 0;
                              
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center; 

                        button {
                            background: none;
                            display: flex;
                            gap: 5px;
                            flex-wrap: nowrap;
                            white-space: nowrap;

  
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            /* identical to box height */


                            /* Style */

                            color: #1E2123;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;

                        }
                    }

                    &.MoreOptionsBlock {
                        width: 160px;
                        border-right: 1px solid rgb(102, 78, 249, 0.1);
                   
                          
                        box-sizing: border-box;
                        height: 68px;

                        &.Active {
                                border-bottom: 3px solid #4E64F9;
                            }


                    }

                    &.ToMapBlock {
                        width: 150px;
                    }

                    &.ToShowBlock {
                    padding: 0;
                    display: flex;
                                                flex-direction: column;
                                                justify-content: center;

                        button {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 9px 16px;
                            gap: 11px;
                            margin: 0 auto;


                            width: 123px;

                            top: 344.5px;

                            /* #FFD54F */

                            background: #FFD54F;
                            border-radius: 22px;
 
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            /* identical to box height */


                            color: #242424;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }
                    }






                }
            }
        }
    }
}