.MainHeaderBlock {
    width: 100%;
    min-height: 430px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 84px;

    .MainHeader {
        max-width: 1283px;
        box-sizing: border-box;
        width: 100%;
        padding-left: 80px;
        padding-right: 63px;
        height: 100%;
        min-height: 430px;

        background:
            url(../../../assets/images/404/city-map.png),
            url(../../../assets/images/404/background.png);
        // background-size: auto,  cover;

        padding-left: 10px;
        margin: 0 auto;
        border-radius: 0px 0px 40px 40px;

        .MainHeaderText {
            padding: 0;
            padding-top: 82px;
            margin: 0;
            margin-bottom: 50px;
            text-align: center;


            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            text-align: center;

            color: #FFFFFF;

            text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);

            .yellow {
                color: #FFD54F
            }

        }

        .MainForm {
            width: 1062px;
            min-height: (54px + 100px);
            display: block;
            margin: 0 auto;
            position: relative;

            .MainFormCategories {
                display: flex;
                height: 54px;
                border-radius: 10px 10px 0px 0px;
                cursor: pointer;


                     flex-wrap: wrap;
                    justify-content: start;
                
                
                    width: auto;
                
                    @media (max-width: 1065px) {
                        width: 750px;
 
                     }
                
                    @media (max-width: 650px) {
                        width: 400px;
 
                    }
 
                li {
                    display: block;
                    padding: 13px 20px;
                    gap: 10px;

                    width: 187px;
                    height: 54px;

                    background: rgba(45, 57, 136, 0.5);

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */


                    color: #FFFFFF;

                    label+input[type="radio"] {
                        display: none;
                    }
 
                @media (max-width: 1065px) {
                    display: none;                
                    }

                    &:first-child {
                        width: (174px);
                        border-radius: 10px 0px 0px 0px;
                    }

                    &:nth-child(2) {
                        width: (187px);
                    }

                    &:nth-child(3) {
                        width: (133px);
                    }

                    &:nth-child(4) {
                        width: (143px);
                        border-radius: 0px 10px 0px 0px;
                    }

                    &.active {   

                        background: #FFFFFF;
                        border-radius: 10px 10px 0px 0px;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                 
                        color: #664EF9;

                        @media (max-width: 1065px) {
                                display: block;
                            }
                    }
                }
            }

            .MainFormSettings {
                background-color: white;
                min-height: 100px;
                height: auto;
                // position: relative;
                // top: -10px;
                border-radius: 0 10px 10px 10px;

                display: flex;
                flex-wrap: wrap;
                justify-content: start; 
 

                width: auto;

                &.Active{
                    border-radius: 0 10px 0  0;
                }
                
                    @media (max-width: 1065px) {
                        width: 750px;
                    }
                
                    @media (max-width: 650px) {
                        width: 400px;
                    }
 

                .CityBlock,
                .RoomsBlock,
                .PriceBlock,
                .MoreOptionsBlock,
                .ToMapBlock,
                .ToShowBlock {

                    margin: 16px;
                    display: inline-block;


                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */


                    /* Gray 4 */

                    color: #BDBDBD;


                    label {
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
                        // min-width: 150px;

                    }

                    &.CityBlock {
                        width: 180px;
                         display: block;
                        padding-left: 8px;
                        border-right: 1px solid rgb(102, 78, 249, 0.1);

                        .CityBlockLabelSelect {
                            box-sizing: border-box;
                            padding: 0 10px;

                            width: 150px;
                            height: 37px;


                            background: #FFFFFF;
                            border: 2px solid rgba(102, 78, 249, 0.8);
                            border-radius: 20px;
                            
                            option {
                                display: block;
                                padding: 10px;
                                margin: 10px;
                                width: 150px;
                                height: 200px;
                                background: #FFFFFF;    
                                &:focus, &:active, &:hover {
                                    background: #F8F8F8;
                                }                        
                            }
                        }


                    }

                    &.RoomsBlock {
                        min-width: 170px;
                        border-right: 1px solid rgb(102, 78, 249, 0.1);
                        margin-left: 0;

                        select {

                            width: 150px;
                            height: 37px;
                            padding: 0 10px;


                            background: #F8F8F8;
                            border-radius: 20px;

                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            /* identical to box height */


                            /* Style */

                            color: #686868;



                                        box-sizing: border-box;
                                            padding: 0 10px;
                                        
                                            width: 150px;
                                            height: 37px;
                                        
                                        
                                            background: #FFFFFF;
                                            border: 2px solid rgba(102, 78, 249, 0.8);
                                            border-radius: 20px;
                        }
                    }

                    &.PriceBlock {
                        min-width: 200px;
                        width: 180px;
                        border-right: 1px solid rgb(102, 78, 249, 0.1);
                        margin-left: 0;

                        .PriceBlockLabel {

                            flex-direction: column;
                             min-width: 150px;

                            span {
                                padding-left: 8px;
                            }

                            .InputsBlock {
                                margin: 0;
                                padding: 0;
                                height: 38px;
                                display: flex;
                                justify-content: space-between;
                                 width: 180px;

                            }
                        }




                    }


                    &.MoreOptionsBlock,
                    &.ToMapBlock {
                        align-self: center;
                        padding: 0;
                        margin-left: 0;

                        button {
                            background: none;
                            display: flex;
                            gap: 5px;
 
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            /* identical to box height */


                            /* Style */

                            color: #1E2123;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;

                        }
                    }

                    &.MoreOptionsBlock {
                        min-width: 158px;
                        border-right: 1px solid rgb(102, 78, 249, 0.1);
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                          
                        box-sizing: border-box;
                        height: 100px;

                        &.Active {
                                border-bottom: 3px solid #4E64F9;
                            }


                    }

                    &.ToMapBlock {
                        max-width: 115px;
                    }

                    &.ToShowBlock {
                        // width: 123px;
                        // height: 37px;
                        align-self: center;

                        button {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 9px 16px;
                            gap: 5px;
                            margin: 0 auto;


                            width: 123px;

                            top: 344.5px;

                            /* #FFD54F */

                            background: #FFD54F;
                            border-radius: 22px;

                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            /* identical to box height */


                            color: #242424;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }
                    }






                }
            }
        }
    }
}