.main{
.objects {
        background-color: rgb(255, 255, 255);
        width: 100%;
        padding: 0;
        padding-left: 80px;
        padding-right: 63px;



        font-family: 'Inter';
        font-style: normal;

        color: #1E2123;


        .objects__items {
            position: relative;
            max-width: 1440px;
            margin: 0 auto;
            // padding-bottom: 170px;           
            margin-bottom: 168px;

            @media (max-width: 864px) {}


            .items__socials {
                position: absolute;
                right: 0;
                bottom: -117px;

                display: block;
                width: min-content;
            }


        }
    }
}
