.FiltersBlock {
    width: 100%;
    background-color: white;
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;
    line-height: 100%;
    color: #1E2123;


    .FiltersRecommendationsBlock {
        width: 100%;
        min-height: 227px;
        padding-left: 80px;
        padding-right: 63px;
        padding-top: 42px;
        padding-bottom: 56px;
        box-sizing: border-box;
        background: linear-gradient(90deg, rgb(148, 175, 255, 0.1) 0%, rgb(78, 100, 249, 0.1) 94.5%);

        h1 {
            margin-top: 35px;
            margin-bottom: 34px;

            font-weight: 700;
            font-size: 25px;
        }

        .FiltersRecommendations {



            .FiltersRecommendationsTitle {
                padding-top: 10px;
                margin-bottom: 25px;

                font-weight: 500;
                font-size: 16px;
            }

            .FiltersRecommendationsList {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                // margin-bottom: ; 

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 6px 10px;
                    gap: 10px;

                    background: rgba(102, 78, 249, 0.1);
                    border-radius: 17px;
                    height: 26px;


                    font-weight: 400;
                    font-size: 14px;

                    color: #664EF9;

                }
            }
        }
    }



    .FiltersCategoriesBlock {
        height: 82px;
        padding-left: 80px;
        padding-right: 63px;
        box-sizing: border-box;
        box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
        z-index: 1;
        position: relative;

        form {
            height: 100%;
            display: flex;

            .MoreOptionsModal {
                    width: 100%;
                    background-color: white;
                    position: absolute;
                    top:80px;
                    display: grid;
                    grid-template-rows: 65px 1fr;
                    height: 368px;
                    label {
                        grid-row: 1/2;
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        height: 170px;
                    }

                }


            .RoomsBlockLabel,
            .PriceBlockLabel {
                height: 100%;
                border-right: 1px solid rgb(102, 78, 249, 0.1);
                padding-right: 24px;
                margin-left: 20px;

                span {
                    margin-top: 19px;
                    margin-right: 20px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;

                    color: #664EF9;
                }

                select {
                    margin-top: 22px;
                    height: 37px;
                    width: 150px;
                    padding: 0 12px;
                    border-radius: 20px;
                    background: #F8F8F8;
                    border: none;



                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */


                    /* Style */

                    color: #1E2123;
                }
            }

            .RoomsBlockLabel {

                .RoomsSelect {
                    // ARROW 


                    /* Remove default arrow */
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    /* Add custom arrow */
                    // background-image: url(...);

                    &::-ms-expand {
                        display: none;
                        /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
                    }


                    /* Target Internet Explorer 9 to undo the custom arrow */
                    @media screen and (min-width:0\0) {
                        background: none\9;
                        padding: 5px\9;

                    }



-webkit-appearance: button;
-moz-appearance: button;
-webkit-user-select: none; 
-moz-user-select: none;
-webkit-padding-end: 20px;
-moz-padding-end: 20px;
-webkit-padding-start: 2px;
-moz-padding-start: 2px;
background-color: #FFFFFF;
/* Fallback color if gradients are not supported */
background-image: 
// url(../images/select-arrow.png),
-webkit-linear-gradient(top, #E5E5E5, #F4F4F4);
/* For Chrome and Safari */
background-image: 
// url(../images/select-arrow.png),
-moz-linear-gradient(top, #E5E5E5, #F4F4F4);
/* For old Firefox (3.6 to 15) */
background-image: 
// url(../images/select-arrow.png),
-ms-linear-gradient(top, #E5E5E5, #F4F4F4);
/* For pre-releases of Internet Explorer  10*/
background-image: 
// url(../images/select-arrow.png),
-o-linear-gradient(top, #E5E5E5, #F4F4F4);
/* For old Opera (11.1 to 12.0) */
background-image: 
// url(../images/select-arrow.png),
linear-gradient(to bottom, #E5E5E5, #F4F4F4);
/* Standard syntax; must be last */
background-position: center right;
background-repeat: no-repeat;


border: 1px solid #AAA;
border: none;
border-radius: 20px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
overflow: hidden;
// padding-top: 2px;
// padding-bottom: 2px;
text-overflow: ellipsis;
white-space: nowrap;



                }


            }











            .PriceBlockLabel {
                display: flex;

                span {
                    margin-top: 32px;
                    margin-left: 5px;

                }

                .InputsBlock {
                    margin: 0;
                    margin-top: 22px;
                    display: flex;
                    justify-content: space-between;
                    width: 220px;


                    input {
                        width: 100px;
                        height: 37px;
                        padding: 0 15px;
                        border: none;


                        background: #F8F8F8;
                        border-radius: 20px;
                    }
                }
            }

            .MoreOptionsBlock {
                align-self: center;
                padding-left: 19px;
                border-right: 1px solid rgb(102, 78, 249, 0.1);
                height: 100%;
                width: 178px;

                button {
                    margin-top: 33px;

                    background: none;
                    display: flex;
                    gap: 5px;


                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;

                    span {
                        width: 100px;
                        margin-right: 5px;
                    }





                }

             
            }

            .ToClear {
                align-self: center;
                margin-left: 50px;
                margin-right: 32px;

                button {
                    background: #F8F8F8;
                    border-radius: 22px;
                    padding: 10px 16px;
                    gap: 10px;


                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                }
            }


            .ToShow {

                align-self: center;

                button {

                    width: 192px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: nowrap;
                    padding: 9px 16px;
                    gap: 17px;




                    /* #FFD54F */

                    background: #664EF9;
                    border-radius: 22px;

                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;


                    color: #FFFFFF;


                }
            }



        }


    }

}