.contacts {
    width: 100%;
    min-height: 688px;
    padding: 77px 80px;
    padding-right: 60px;
    background-image: url(../../../public/images/404/city-map.png), url(../../../public/images/404/background.png);
    background-size: cover;


    display: flex;
    justify-content: center;
    gap: 30px;

    font-family: 'Inter';
    font-style: normal;
    line-height: 150%;
    color: #FFFFFF;


    .ContactsModalWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 1038px;
        height: 100%;
        background: rgba(46, 46, 46, 0.7);
        z-index: 1;

        .ContactsModal {
            height: 313px;
            width: 406px;

            border-radius: 10px;
            position: absolute;
            left: 35.9%;
            right: 35.9%;
            top: 27.46%;
            bottom: 42.39%;
            z-index: 1;

            background: #FFFEFE;
            box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
            border-radius: 10px;

            text-align: center;
            padding: 50px;

            h2 {
                margin-bottom: 20px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                text-align: center;

                color: #000000;
            }

            p {
                margin-bottom: 30px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: center;

                /* Style */

                color: #686868;
            }

            button {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 12px 24px;
                gap: 10px;
                margin: 0 auto;

                width: 161px;
                height: 48px;


                /* #FFD54F */

                background: #FFD54F;
                border-radius: 33px;





                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                display: flex;
                align-items: center;
                text-align: center;

                /* Style */

                color: #1E2123;
            }

        }
    }

    .ContactsModalWrapperHidden {
        display: none;
    }


    .contacts__info {
        width: 515px;
        font-style: normal;

        .info__title {
            margin-bottom: 31px;

            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
        }

        .info__description {
            margin-bottom: 30px;

            font-weight: 500;
            font-size: 16px;
        }

        .info__list {
            margin-bottom: 30px;

            font-weight: 600;
            font-size: 18px;


            .list__item {
                margin-bottom: 11px;

                display: flex;
                align-items: center;
                gap: 20px;

                .thin {
                    font-weight: 400;
                }

                .item__icon {
                    height: 30px;
                    width: 30px;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 17px;



                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                .MessengersList {
                    display: flex;
                    gap: 10px;

                    li {
                        height: 30px;
                        width: 30px;
                        background: rgba(255, 255, 255, 0.1);
                        border-radius: 17px;



                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }


            }

        }

        .EntrepreneurInfo {

            font-weight: 400;
            font-size: 14px;
            /* or 21px */


            &:last-of-type {
                margin-bottom: 39px;
            }
        }

        .info__alert {
            min-height: 90px;
            width: 100%;

            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 27px;
            gap: 23px;


            background: rgba(80, 57, 189, 0.5);
            border-radius: 10px;

            p {
                max-width: 85%;

                font-weight: 500;
                font-size: 16px;

                /* or 24px */


                color: #FFFFFF;
            }
        }
    }


    .contacts__form {
        width: 625px;
        height: 516px;
        padding: 39px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 115px 1fr 53px;


        background: #FFFEFE;
        box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
        border-radius: 10px;

        label {

            &:first-of-type,
            &:nth-of-type(2),
            &:nth-of-type(3) {

                display: flex;
                flex-direction: column;
                gap: 16px;


                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */


                /* Style */

                color: #686868;

            }

            &:first-of-type {
                margin-right: 28px;
            }

            &:nth-of-type(3) {
                grid-column: 1/3;
            }
        }

        .SubmitButtonWrapper {
            margin: 0 auto;
            grid-column: 1/3;

        }



    }

    .SocialsBlock {
        ul {
            margin-left: 33px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .SvgWrapper {

                display: flex;
                justify-content: center;
                align-items: center;


                height: 45px;
                width: 45px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 50%;

                &:hover {
                    background: rgba(255, 255, 255, 0.15);
                }

                &:active {
                    background: rgba(255, 255, 255, 0.25);
                }



            }
        }
    }









    @media (max-width: 1439px) {
        padding-left:  30px;
        padding-right:  30px;
    }

    @media (max-width: 1300px) {
    padding-left: 20px;
    padding-right: 20px;


        display: grid;
        gap: 40px;
        grid-template-columns: min-content;
        grid-template-rows: repeat(3, min-content);

        .contacts__info {
            margin: 0 auto;
            max-width: 100%;

            .info__alert {

                max-width: 100%;
            }
        }

        .contacts__form {
            margin: 0 auto;
            max-width: 100%;
            grid-template-columns: 1/2;
        }

        .SocialsBlock {
            grid-template-columns: 1/2;

            ul {
                flex-direction: row;
                justify-content: center;
            }
        }
    }



    @media (max-width: 864px) {
        .contacts__info {
            width: 400px;
        }

        .contacts__form {

            width: 100%;
            height: auto;
            padding: 5%;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 115px 115px 258px 53px;

            label {


                &:first-of-type {
                    margin-right: 0px;
                }

                &:nth-of-type(3) {
                    grid-column: 1/2;
                }
            }

            .SubmitButtonWrapper {
                grid-column: 1/2;

            }
        }
    }

    @media (max-width: 500px) {
        .contacts__info {
            width: 300px;
        }}
}