.main {
    width: 100%;
    max-width: 1040px;
    min-height: 599px;
    padding: 176px 189px;
 
    @media (max-width: 864px) {
        padding: 106px 89px;
    }
    @media (max-width: 392px) {
        padding: 76px 19px;
    }

    
}