.Card {
    width: 406px;
    height: 345px;
    border-radius: 10px;
    position: relative;
    background: #FFFEFE;
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
    padding: 26px 37px;

    .goldBackground{
        position: absolute;
        z-index: 0;
    }

    .CardHeader{
        display: flex;
        gap:27px;
        align-items: center;
        margin-bottom: 28px;
            .cardLogo {
                    height: 98.5185546875px;
                    width: 98.5185546875px;
            
                    border-radius: 50%;
                    box-shadow: 0px 11px 20px rgba(127, 155, 187, 0.16);
            
                }
                .CardHeaderText{
                    font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                    
                        /* #664EF9 */
                    
                        color: #664EF9;
                }
                .CardHeaderTextGold{
                    margin: 0 auto;
                    margin-top: 15px;
                    margin-bottom: 5px;
                    font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 36px;
                    
                        color: #333333;
                }
    }

    .CardDescription{
        font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        
            /* Style */
        
            color: #1E2123;

            li{
                margin-bottom: 15px;
            }
    }


     
    .Button, .ButtonGold {
        display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 18px;
            gap: 5px;
        
            position: absolute;
             height: 37px;
             top: 255px;
        
            /* Linear */
        
            background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
            box-shadow: 0px 15px 40px rgba(254, 193, 0, 0.15);
            border-radius: 17px;




            font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
            
            
                color: #242424;
            
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }
    .ButtonGold {
background: linear-gradient(270deg, #7E6AF3 0%, #6540CD 100%);
color: #FFFFFF;
    }
}