.Card {
    height: 270px;
    border-radius: 10px;
    background-color: #dbdee2;

    position: relative;

    img {
        // width: 406px;
        // height: 227px;
        // border-radius: 10px;

    }

    .CardContent {
        margin: 18px 35px;
        height: 245px;

        h2 {

            margin-bottom: 15px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            /* identical to box height */

            text-transform: uppercase;

            /* Linear */

            background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        h1 {
            margin-bottom: 27px;


            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;

            color: #FFFFFF;

            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap:15px;

            li {
                width: auto;
                // display: flex;
                // flex-direction: row;
                // align-items: center;
                padding: 8px 14px;
                // gap: 6px;


                width: 73px;
                height: 33px;
 

                /* #664EF9 */

                background: #664EF9;
                border-radius: 16px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */


                color: rgba(255, 255, 255, 0.7);


 
              
            }
        }

button {
    position: absolute;
    bottom: 21px;
    right: 20px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    height: 39.42856979370117px;
    width: 39.42856979370117px;
  
    border-radius: 50% ;
        box-sizing: border-box;

}


    }


}