.about {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;

    padding: 0;
    padding-left: 80px;
    padding-right: 63px;
    margin-bottom: 100px;

    background-color: rgb(255, 255, 255);

    font-family: 'Inter';
    font-style: normal;

    .about__content {
        max-width: 844px;
        position: relative;

        .content__subtitle {
            margin-bottom: 15px;


            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */


            background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);


            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
        }

        .content__title {
            margin-bottom: 33px;


            font-weight: 700;
            font-size: 25px;
            line-height: 30px;

            /* Style */

            color: #1E2123;
        }

        .content__image {
            height: auto;
            max-width: 405px;
            width: 405px;
            margin-left: -1px;
            margin-right: 23px;
            filter: drop-shadow(0px 15px 30px rgba(39, 95, 158, 0.1));
            border-radius: 20px;
            float: left;
            // text-align: left;
            // display: inline;
        }

        .content__dotes {
            position: absolute;
            z-index: 2;
            top: 275px;
            left: 348px;
        }

        .content__description {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #1E2123;

            h4 {}

            p {
                width: 100%;

                &:first-of-type {
                    margin-bottom: 21px;
                }

                &:nth-of-type(2) {
                    margin-bottom: 31px;
                    width: 99%;
                }

                &:nth-of-type(3) {
                    letter-spacing: -0.07px;
                }
            }
        }
    }

    .about__news {
        margin-top: 15px;


        height: 456px;
        // overflow: hidden;
        max-width: 406px;
        padding: 15px 23px;
        box-sizing: border-box;
        // margin-top: 10px;

        border-radius: 10px;


        background: #FFFEFE;
        /* Drop Shadow */

        box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
        border-radius: 10px;

        .news__title {
            margin-top: 18px;
            margin-bottom: 25px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;

            /* Style */

            color: #1E2123;
        }

        .news__list {
            display: flex;
            flex-direction: column;
            gap: 21px;


            li {

                position: relative;


                // полоски
                &::before {
                    content: '';
                    position: absolute;
                    top: -11px;
                    width: 100%;
                    background: #664EF9;
                    opacity: 0.1;
                    height: 1px;
                }

                &:first-child,
                &:last-child {
                    &::before {
                        display: none;
                    }
                }




                a {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    max-width: 360px;

                    span {
                        &:first-of-type {
                            display: -webkit-box;
                            /* Включаем флексбоксы */
                            -webkit-box-orient: vertical;
                            /* Вертикальная ориентация */
                            -webkit-line-clamp: 2;
                            /* Число отображаемых строк */


                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;

                            /* Style */

                            color: #1E2123;
                            height: 34px;
                            overflow: hidden;

                            &:hover {
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                /* identical to box height */


                                color: #664EF9;
                            }


                        }

                        &:nth-of-type(2) {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            /* identical to box height */


                            /* Style */

                            color: #8291A3;
                        }

                    }
                }


                &:last-child {
                    a {

                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
                        margin-top: 9px;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 34px;
                        /* identical to box height */


                        /* #664EF9 */
                        // span {
                        color: #664EF9;
                        // }
                    }
                }
            }
        }

    }



    @media (max-width: 768px) {
        padding-left: 10px;
        padding-right: 10px;

        .about__content {
            width: 100%;

            .content__image {
                float: none;
                width: 100%;
                // margin: 0 auto;
                text-align: center;
            }

            .content__dotes {
                display: none;
            }
        }
    }
}