.Button {
    height: 37px;
    min-width: 110px;


    text-align: center; 

    border-radius: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
 
}

.Yellow {
    background: rgba(255, 213, 79, 0.1);
    color: #FEC100;
    &:active, &:focus, &:hover{
        background: rgba(255, 213, 79, 0.2);
    }
}