.MapSearchBlock {
    width: 100%;
    padding: 0;
    margin-bottom: 59px;
    position: relative;

    @media (max-width: 1050px) {
        margin-bottom: 40px;
    }



    .PreferenceCardList {
        position: relative;
        top: -123px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        // width: 1287px;
        margin: 0 auto;
        padding-left: 13px;
    }

    .DotesAfter {
        position: absolute;
        bottom: -40px;
        right: 145px;

        @media (max-width: 1050px) {
            display: none;
        }
    }

}