.MapSearchBlock {
    // background:
    //             url(../../../assets/images/404/city-map.png),
    //             url(../../../assets/images/404/background.png),
    //             linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
    //  background-size: 100% 100%;
    //  background-repeat: no-repeat;
    width: 100%;
    // min-height: 440px;
    padding: 0;
    margin-bottom: 59px;
    position: relative;

    @media (max-width: 1050px) {
        margin-bottom: 40px;
    }



    .PreferenceCardList {
        position: relative;
        top: -100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        // width: 1287px;
        margin: 0 auto;
        padding-left: 13px;
    }

    .DotesAfter {
        position: absolute;
        bottom: -40px;
        right: 145px;

        @media (max-width: 1050px) {
            display: none;
        }
    }

}