.Button {
    height: 37px;
    min-width: 110px;


    text-align: center;
    padding-left: 15px;

    background: rgba(255, 213, 79, 0.1);
    border-radius: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FEC100;

    &:hover {
        background: rgba(255, 213, 79, 0.2);
    }

}